# IntelliJ IDEA
.idea/
*.iml
.vscode/

# Maven build output
/target/
/server/target/

# Local Spring config (if it has secrets)
server/src/main/resources/application.properties
server/src/test/resources/application.properties

# Firebase / other credentials
server/src/main/resources/credentials/
server/src/test/resources/credentials/

frontend/.env

# CMake build output
/pico/build/

# Quick build bash script for development
/pico/dev_build.sh

# pico development paste files
/pico/todo.txt
/pico/wifi_config.txt
