# IntelliJ IDEA
.idea/
*.iml
.vscode/

# Maven build output
/target/
/server/target/

# Local Spring config (if it has secrets)
server/src/main/resources/application.properties

# Firebase / other credentials
server/src/main/resources/credentials/

# CMake build output
/pico/build/

# Quick build bash script
/pico/dev_build.sh