#bargraph-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

#bargraph-header {
    color: white;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}