#error-page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/images/04-Sky.png");
}

#error-page-content {
    color: white;
    margin-top: 0rem;
    font-size: 1.5rem;
}

#error-page-try-again {
    text-decoration: none;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#error-page-try-again:hover {
    background-color: rgba(255, 255, 255, 0.15);
}