.navbar {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 9999;
    position: relative;
    margin-top: 0.2rem;
}

.anticipate-text {
    margin: 0;
    font-family: 'Lexend', 'sans-serif';
    font-weight: 300;
    color: white;
    padding-left: 1rem;
}

#navbar-login-text {
    flex: 0.5;
    padding-right: 1rem;
    color: white;
    font-family: 'Lexend', 'sans-serif';
    font-weight: 300;
}

#navbar-anticipate-text {
    margin: 0;
    font-family: 'Lexend', 'sans-serif';
    font-weight: 300;
    color: white;
    padding-left: 1rem;
    font-size: 2rem;
    text-decoration: none;
}

.navbar-anticipate-header-container {
    flex: 1;
    z-index: 9999;
}