. {
    font-family: 'Lexend', 'sans-serif';
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #6063A3;
    width: 30%;
    height: 50%;
    color: white;
    font-family: "Lexend", "sans-serif";
    padding: 1.89rem;
    padding-top: 0.5rem;
    border-radius: 20px;
    margin-top: 3rem;
    box-shadow: 3px 5px 5px #3e3e3e;
    padding-bottom: 1rem;
}

.login-parent-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.login-parent-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-image: url("../../public/images/office-background.jpg");
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.login-form-heading {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.login-form > label {
    margin-top: 1rem;
}

.login-form > input {
    min-height: 5%;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px #3e3e3e;
}

.login-form-submit {
    margin-top: 2rem;
    width: 50%;
    height: 10%;
    background-color: white;
    font-family: "Lexend", "sans-serif";
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px #3e3e3e;
}

.login-forgot {
    font-size: 0.9rem;
    text-decoration: underline;
}

#login-create-account {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

#login-or-text {
    margin-left: auto;
    margin-right: auto;
}