. {
    font-family: 'Lexend', 'sans-serif';
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 50%;
    color: white;
    font-family: "Lexend", "sans-serif";
    padding: 1.89rem;
    position: relative;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border-top: 0.5px solid rgba(255, 255, 255, 0.18);
    border-left: 1px solid rgba(255, 255, 255, 0.13);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

.login-parent-container {
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.login-parent-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-image: url("../../public/images/04-Sky.png");
    background-size: cover;
    z-index: -1;
}

.login-form-heading {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.login-form > label {
    margin-top: 1rem;
}

.login-form > input {
    min-height: 5%;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.58);
}

.login-form-submit {
    margin-top: 2rem;
    width: 50%;
    height: 10%;
    background-color: white;
    font-family: "Lexend", "sans-serif";
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.login-form-submit:hover {
    background-color: rgba(186, 186, 186, 0.78);
    color: #ffffff;
}

.login-forgot {
    font-size: 0.9rem;
    text-decoration: underline;
}

#login-create-account {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

#login-or-text {
    margin-left: auto;
    margin-right: auto;
}

#login-error-message {
    color: white;
    font-family: "Lexend", "sans-serif";
    font-size: 1rem;
    margin: 0 auto;
}